*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(197, 196, 196);
}

/*Rodapé da pagina inicial*/
h1{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: .5rem;
    color: rgb(142, 143, 143);
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
    border-bottom: solid #7bbdfa 1rem;
}

/*---------------------------*/


#Conteiner{

    display: block;
    display: inline-flex;
    
    padding: 1rem;
    
}
/*----------------*/

/*Modelos de imagem */
.Modelos{
    word-spacing: 20px;
    margin-left: 50px;
    margin-top: 20px;
    display: inline-block;
    
}

/*-------------------*/

/*imagem & do Container*/

.Serviço{
    
    width: 30%;
    border: solid black;
    background-image: url(img/Ar-Condicionado) ;
    background-size: cover;
}

.Serviço li{
    padding: 5px;
    color: white;
}

.Serviço h3{
    text-align: center;
    margin: 1rem;
}

.Modelos{
    margin-right: 2rem;
    border: solid black;
    padding: 1rem;
    background-color: #7bbdfa;
}

.Modelos p{
    padding: 1rem;
    text-align: center;
}
/*Fim imagem & do Container*/

/*block Limpeza*/

.casa{
    text-align: center;
    display: inline-block;
    margin-right: 30rem;
}

.casa img{
   margin-left: 20px;
    padding: 1rem;
    background-color: #7bbdfa;
}

.Limpeza{
    background-color: #7bbdfa;
    display: inline-block;
    border: solid black;
    margin: 1rem;
    padding: 1rem;
}

.Limpeza li{
    margin: .5rem;

}
/*Fim block Limpeza*/

.imagens{
    display: inline-flex;
    margin: 1rem;
    padding: 1rem;
}

.imagens img{
    background-color: #7bbdfa;
    margin-top: 1rem;
    border: solid #000;
    width: 50%;
    padding: 2rem;
    margin: 8rem;

}

h3{
    margin-top: 1rem;
    margin-bottom: -70px;
    padding: 1rem;
    text-align: center;
    
}

.descrição{
    text-align: center;
    padding: 1rem;
}

.descrição ol{
    padding: 1rem;
    
}

/*button da pagina (Voltar)*/

a{
    color: #fff;
    text-decoration: none;
}

.button{
    background-color: #000;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.button:hover{
    border-radius: solid;
    background-color: #7bbdfa;
}

a{
    padding: .5rem;
}

/*Fim button da pagina (Voltar)*/








/*footer da página*/

footer{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border-radius: .5rem;
    color: rgb(142, 143, 143);
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: black;
    border-top: solid #7bbdfa 1rem;
}

/*Fim do footer*/
